[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/hsukju-blog/venv/bin/uwsgi -i /srv/hsukju-blog/.config/uwsgi/hsukju-blog.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target